# 2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple
# of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
# comma-separated sequence on a single line.

In [1]:
for i in range(2000,3001):
    if i%7==0 and i%5!=0:
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

# 3. Write a Python program to accept the user's first and last name and then getting them printed in
# the the reverse order with a space between first name and last name.

In [3]:
first,last=input().split(' ')
print(first[::-1],end=' ')
print(last[::-1])

swapnil maity
linpaws ytiam

# print the volume of a sphere of diameter 12 cm

In [7]:
diameter=int(input())
result=((1/6)*(22/7)*diameter**3)
print(result)

12
905.142857142857

# 4. take comma separated integers from console and generate a list of integers

In [8]:
arr=list(map(int,input().split(',')))
print(arr)

1,2,3,4,5,6,7,8,9,10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 5. print the following pattern

In [12]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print()
for i in range(0,n-1):
    for j in range(n-1,i,-1):
        print('*',end='')
    print()

10
*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

#  6. take user name as input and print it in reverse order

In [13]:
string=input()
print(string[::-1])

swapnil
linpaws

# take a string as input and print in the following manner

In [20]:
str=list(input().split(','))
lst=str[len(str)-1].split()
for i in range(4):
    if i==0:
        print(''.join(str[0]+','+str[1]+','))
    if i==1:
        print('    ',end='')
        print(''.join(str[2]+','+'!'))
    if i==2:
        print('        ',end='')
        print(''.join(str[3]+','+str[4]+','+lst[0]+' '+lst[1]))
    if i==3:
        print('          ',end='')
        print(''.join(lst[2:]))

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizen
WE, THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN,!
         SOCIALIST, SECULAR,DEMOCRATIC REPUBLIC
          andtosecuretoallitscitizen